@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --fontsize-h1: clamp(2rem, .5692rem + 8.238vw, 13.75rem);
  --fontsize-body: clamp(1.5rem, .5692rem + 8.238vw, 1.2rem);
  --fontfam-body: "Cabin", sans-serif;
  --fontfam-title: "Finger Paint", sans-serif;
  --primary-text-color: #003b32;
  --background-color: #f4ebd6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--background-color);
  margin: 0;
  text-align: center;
  font-family: var(--fontfam-body);
  font-size: var(--fontsize-body);
  color: var(--maroon);
}
nav {
  position: fixed;
  width: 100vw;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
}
nav img {
  height: 90%;
}
h1 {
  font-size: var(--fontsize-h1);
  font-weight: 900;
  margin-bottom: 24px;
}
hr {
  border: dotted #ebecf1 6px;
  border-bottom: 0;
  width: 4%;
  margin: 75px auto;
}
section {
  min-height: calc(100vh - 80px);
  padding: 32px 24px;
}
p {
  margin-bottom: 16px;
}
a {
  text-decoration: none;
  font-weight: bold;
  color: #4f98ca;
}
.container {
  margin-top: 80px;
}
.satisfy-regular {
  font-family: var(--fontfam-title);
}
section .title {
  font-size: 1.5rem;
  font-weight: bold;
  padding-bottom: 25px;
}
.project {
  padding-bottom: 30px;
}
/* contenido */
.content {
  min-width: 300px;
  min-height: 300px;
  border: 1px solid;
  display: grid;
  align-items: center
}
.reliability {
  background-image: url(/images/reliabilityweb.png);
}

/* iconos */
.contact-icons {
  position: fixed;
  top: 0;
}
.icon {
  padding: 20px;
}

/* footer */
.footer {
}
section .title {
  font-size: 1.2rem;
  font-weight: bold;
  padding-bottom: 25px;
}
.footer p {
 font-size: 16px;
}

/* MEDIA */
@media (min-width: 768px) {

  
}

/*  animation */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #effffb;
  }
}
