@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');

:root {
  --fontsize-h1: clamp(3.2rem, .5692rem + 8.238vw, 13.75rem);
  --fontsize-body: clamp(1rem, .5692rem + 8.238vw, 1.2rem);
  --fontfam-body: "SUSE", sans-serif;
  --fontfam-title: "Satisfy", cursive;
  --lemon-meringue: #F2E8C6;
  --pastel-gray: #DAD4B5;
  --deep-dumpling: #982B1C;
  --maroon: #800000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  text-align: center;
  font-family: var(--fontfam-body);
  font-size: var(--fontsize-body);
  color: var(--maroon);
}
h1 {
  font-size: var(--fontsize-h1);
  font-weight: 900;
}
hr {
  border: dotted #ebecf1 6px;
  border-bottom: 0;
  width: 4%;
  margin: 75px auto;
}
section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
}
a {
  text-decoration: none;
  font-weight: bold;
  color: #4f98ca;
}
.container {
  height: 100vh;
}
.satisfy-regular {
  font-family: var(--fontfam-title);
}
.one {
  background-color: var(--lemon-meringue);
}
.header {
  /*overflow: hidden;
  border-right: 0.15em solid #4f98ca;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15em; */
  /*animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;*/
}
section .title {
  font-size: 1.5rem;
  font-weight: bold;
  padding-bottom: 25px;
}
.section-wrapper {
  padding: 0 30px;
}

.project {
  padding-bottom: 30px;
}
/* contenido */
.content {
  padding: 30px;
  justify-content: center;
  margin: 0;
}
.skills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* iconos */
.contact-icons {
  position: fixed;
  top: 0;
}
.icon {
  padding: 20px;
}

/* footer */
.footer {
  height: 10vh;
  padding: 20px 0;
  margin-top: 100px;
  background-color: #4f98ca;
  color: #ffffff;
}
section .title {
  font-size: 1.2rem;
  font-weight: bold;
  padding-bottom: 25px;
}
.footer p {
 font-size: 0.8rem;
}

/* MEDIA */
@media (min-width: 768px) {

  
}

/*  animation */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #effffb;
  }
}
