@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --fontsize-h1: clamp(2rem, .5rem + 4vw, 5rem);
  --fontsize-body: clamp(1rem, 1rem + 4vw, 1.7rem);
  --fontfam-body: "Cabin", sans-serif;
  --fontfam-title: "Finger Paint", sans-serif;
  --background-color: #e2c99e; 
  --primary-text-color: #852736;
  --secondary-color: #c1121f;
  --tertiary-color: #fdf0d5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--background-color);
  margin: 0;
  text-align: center;
  font-family: var(--fontfam-body);
  font-size: var(--fontsize-body);
  color: var(--primary-text-color);
}
nav {
  background-color: var(--background-color);
  position: fixed;
  width: 100vw;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
}
nav img {
  height: 90%;
}
nav .say-hello {
  position: fixed;
  right: 20px;
}
h1 {
  font-size: var(--fontsize-h1);
  font-family: var(--fontfam-title);
  font-weight: 900;
  margin-bottom: 24px;
}
h2 {
  font-family: var(--fontfam-title);
  text-align: left;
  margin-bottom: 24px;
}
hr {
  border: dotted #ebecf1 6px;
  border-bottom: 0;
  width: 4%;
  margin: 75px auto;
}
.space {
  height: 80px;
}
.presentation {
  min-height: calc(100vh - 80px);
  padding: 32px 24px;
}
.presentation img {
  height: 320px;
  margin: 32px 0;
}
p {
  margin-bottom: 16px;
}
a {
  font-weight: bold;
}
.container {
  margin-top: 80px;
}
.prensentation .title {
  font-size: 1.5rem;
  font-weight: bold;
  padding-bottom: 25px;
}
/* project */
.projects {
  padding: 32px 24px;
}
.projects-container {
  display: grid;
  gap: 32px;
}
.project {
  cursor: pointer;
  width: 100%;
  background: var(--tertiary-color);
  border-radius: 8px;
  color: var(--secondary-color);
  padding: 16px;
}
.project a {
  color: var(--secondary-color);
  margin-top: 16px;
}
.project a:hover {
  text-decoration: underline;
}
.project img {
  width: 100%;
  object-fit: contain;
  height: 7rem;
}
.project-logo {
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  margin-bottom: 10px;
}
.project-logo svg {
  height: 5rem;
  width: 85%;
}
.penske svg path {
  fill: #002496;
}
/* .penske .project-logo {
  background: #002496; 
} */
.project-back-side {
  display: none;
  font-size: 1rem;
  padding: 16px;
  text-align: left;
}
.project-front-side {
  text-align: left;
}
.project-headline {
  font-size: 1.5rem;
}
.project-type {
  font-size: 1rem;
}
.project-tools {
  font-size: 0.8rem;
}
.project:hover {
  box-shadow: 6px 4px 12px 0px rgba(23, 23, 23, 0.75);
}
.project:hover .project-front-side {
  display: none;
}
.project:hover .project-back-side {
  display: grid;
}
.contact {
  background: var(--primary-text-color);
  color: var(--tertiary-color);
  padding: 32px;
  text-align: left;
  display: grid;
  position: relative;
}
.contact .container {
  width: 100%;
  margin-top: 0;
  position: relative;
}
.say-hello {
  background: var(--tertiary-color);
  padding: 16px;
  border-radius: 1rem;
  font-size: 1rem;
  width: fit-content;
  color: var(--secondary-color);
  display: block;
}
.say-hello:hover {
  box-shadow: 6px 4px 12px 0px rgba(23, 23, 23, 0.75);
}
.icons {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  gap: 1rem;
}
.icons a {
  color: var(--tertiary-color);
}
footer {
  font-size: 16px;
  padding: 24px;
}
footer * {
  margin: 0;
}
@media (min-width: 500px) {
  .presentation {
    min-height: unset;
  }
  .projects-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .project {
    padding: 24px;
  }
}
@media (min-width: 1000px) {
  nav, .space {
    height: 100px;
  }
  .container {
    margin: 0 auto;
    max-width: 1200px;
  }
  .prensentation {
    padding: 40px;
  }
  .projects-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
  /*.project {
    height: 303px;
  }*/
  /* .project img {
    height: 200px;
  } */
}
@media (min-width: 1000px) and (max-height: 1024px) {
  .presentation {
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 140px);
  }
}